<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>百科添加页面</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/bootstrap-3.4.1-dist/css/bootstrap.css}" media="all">
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">萌宠学名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入萌宠学名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">萌宠寿命</label>
            <div class="layui-input-block">
                <input type="text" name="age" lay-verify="required" placeholder="请输入萌宠寿命" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">萌宠别名</label>
            <div class="layui-input-block">
                <input type="text" name="chinesename" lay-verify="required" placeholder="请输入萌宠别名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">体型</label>
            <div class="layui-input-block">
                <input type="radio" name="shape" value="小型" title="小型" checked="">
                <input type="radio" name="shape" value="中型" title="中型">
                <input type="radio" name="shape" value="大型" title="大型">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">分布区域</label>
            <div class="layui-input-block">
                <input type="text" name="area" lay-verify="required" placeholder="请输入分布区域" value=""
                       class="layui-input">
            </div>
        </div>
        <!--  图片上传-->
        <div class="layui-form-item">
            <label class="layui-form-label">上传萌宠图片</label>
            <div class="layui-input-inline uploadHeadImage">
                <div class="layui-upload-drag" id="headImg">
                    <i class="layui-icon"></i>
                    <p>点击上传萌宠图片,或将图片拖拽到此处,可多图上传</p>
                </div>
            </div>
            预览图：
            <div class="layui-upload-list" id="demo2"></div>
            <input type="text" id="imgUrls" name="imgUrls" style="display: none;" class="layui-input">
        </div>
        <input type="hidden" name="imageone"/>
        <input type="hidden" name="imagetwo"/>
        <input type="hidden" name="imagethree"/>
        <!--图片上传结束-->
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <textarea name="character" class="layui-textarea" placeholder="请输入萌宠特征"></textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <textarea name="living" class="layui-textarea" placeholder="请输入萌宠生活习性"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <textarea name="feeding" class="layui-textarea" placeholder="请输入萌宠喂养方法"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="saveBtn">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
<script th:src="@{/lib/jquery.js}" charset="UTF-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/bootstrap-3.4.1-dist/js/bootstrap.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;
        var upload = layui.upload;
        var imageone = "";
        var imagetwo = "";
        var imagethree = "";
        //用于存放前端返回的url地址
        var s = [];
        //渲染图片上传
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: '/uploadFile'
            , size: 1000
            , multiple: true
            , number: 7
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    // $('#demo1').attr('src', result); //图片链接（base64）
                    $('#demo2').append('<img src="' + result
                        + '" alt="' + file.name
                        + '"height="100px" width="100px" class="layui-upload-img uploadImgPreView">')
                });
            }
            , done: function (res) {
                //获取前端返回的数据  url地址 用于设置数据
                s.push(res.url)
                imageone = s[0];
                imagetwo = s[1];
                imagethree = s[2]
                localStorage.setItem("address1", s);
            }
            , error: function () {
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            //  获取用户提交的数据
            var datas = data.field;
            datas.imageone = imageone;
            datas.imagetwo = imagetwo;
            datas.imagethree = imagethree;
            console.log(datas.imageone)
            // 发送请求
            $.ajax({
                url: '/wiki/add',
                type: 'POST',
                data: datas,
                success: function (res) {
                    console.log(res.code)
                    if (res.code === 0) {
                        layer.msg("添加成功", {icon: 6, time: 400,}, function () {
                                parent.window.location.reload();//重新页面
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                            }
                        );
                    } else {
                        layer.msg("添加失败", {icon: 5});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>