<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rbq.code.mapper.RescueMapper">
<!--    查询所有的救助站信息-->
    <select id="queryAllRescues" resultType="com.rbq.code.entity.Rescue">
        select *
        from pet_rescue
    </select>
  <select id="queryRescuesById" resultType="com.rbq.code.entity.Rescue" parameterType="int">
      select * from pet_rescue where id=#{id}
  </select>
</mapper>