<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rbq.code.mapper.WikiMapper">
    <!--    查询所有的百科信息-->
    <select id="queryAllWiki" resultType="com.rbq.code.entity.Wiki">
        select * from pet_encyclopedias
        <where>
            <if test="id!=null and id !=''">
                and id like '%${id}%'
            </if>
            <if test="name!=null and name !=''">
                and name like '%${name}%'
            </if>
            <if test="area!=null and area !=''">
                and area like '%${area}%'
            </if>
            <if test="shape!=null and shape !=''">
                and shape like '%${shape}%'
            </if>
            <if test="category!=null and category !=''">
                and category like '%${category}%'
            </if>
        </where>
    </select>
    <!--    根据id查询百科信息-->
    <select id="queryWikiById" resultType="com.rbq.code.entity.Wiki" parameterType="int">
        select *
        from pet_encyclopedias
        where id = #{id};
    </select>
    <!--    删除单个百科信息-->
    <delete id="deleteWikiById" parameterType="int">
        delete
        from pet_encyclopedias
        where id = #{id}
    </delete>
    <!--    添加百科信息-->
    <insert id="addWiki" parameterType="com.rbq.code.entity.Wiki">
        insert into pet_encyclopedias (name, chinesename, area, shape, age, imageone, imagetwo, imagethree, `character`,
                                       `living`, `feeding`)
        values (#{name}, #{chinesename}, #{area}, #{shape}, #{age}, #{imageone}, #{imagetwo}, #{imagethree},
                #{character}, #{living}, #{feeding})
    </insert>
    <!--    批量删除百科信息-->
    <delete id="delWikiByIds">
        delete from pet_encyclopedias where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--修改百科信息-->
    <update id="updateWiki" parameterType="com.rbq.code.entity.Wiki">
        update pet_encyclopedias
        set name=#{name},
            chinesename=#{chinesename},
            area=#{area},
            shape=#{shape},
            age=#{age},
            `character`=#{character},
            `living`=#{living},
            `feeding`=#{feeding}
        where id = #{id}
    </update>
     <select id="queryWikiCount" resultType="map">
         select chinesename, id
         from pet_encyclopedias
     </select>
</mapper>