<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
</head>
<style>
    .layui-table-cell {
        height: 55px;
        line-height: 60px;
        padding: 0 15px;
        position: relative;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }
    .laytable-cell-1-0-11{
        width: 246px!important;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <legend>搜索信息</legend>
        <div class="demoTable">
            <div style="margin: 10px 10px 10px 10px" layui-form-pane>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="orderno" id="orderno" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单状态</label>
                        <div class="layui-input-inline">
                            <select name="orderstatus" id="orderstatus" class="layui-select-group layui-input">
                                <option value="">请选择订单状态</option>
                                <option value="1">未支付</option>
                                <option value="2">已支付</option>
                                <option value="3">待发货</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" th:width="100px">收货人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="receivername" id="receivername" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button data-type="reload" class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn-normal layui-btn data-count-edit" lay-event="edit">发货</a>
            <a class="layui-btn layui-btn layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>
<script th:src="@{/lib/jquery.js}" charset="UTF-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/layarea.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'table', 'laypage'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layuimini = layui.layuimini;
        laypage = layui.laypage;
        var tableIns = table.render({
                elem: '#currentTableId',
                url: '/order/list',
                toolbar: '#toolbarDemo',
                id: "currentTableId",
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [
                    [
                        {type: "checkbox", width: 50, fixed: "left", align: "center", height: 80},
                        {field: 'orderno', width: 300, title: '订单号', sort: true, align: "center", height: 80},
                        {field: 'totalprice', width: 100, title: '总金额', align: "center", height: 80},
                        {field: 'receivername', width: 110, title: '收货人', sort: true, align: "center", height: 80},
                        {
                            field: 'receiverphone',
                            width: 150  ,
                            title: '收货人电话',
                            align: "center",
                            height: 80,
                            template: function (res) {
                                console.log(res)
                            }
                        },
                        {
                            field: 'orderstatus',
                            width: 100,
                            title: '订单状态',
                            align: "center",
                            height: 80,
                            templet: function (res) {
                                if (res.orderstatus == 1) {
                                    return "<button class='layui-btn-radius layui-btn-sm'>未支付</button>"
                                } else if (res.orderstatus == 2) {
                                    return "<button class='layui-btn-sm layui-btn-radius layui-btn-normal'>已支付</button>"
                                } else if (res.orderstatus == 3) {
                                    return "<button class='layui-btn-sm layui-btn-radius layui-btn-warm'>待发货</button>"
                                }
                            }
                        },



                        {
                            field: 'productname',
                            width: 200,
                            title: '商品名称',
                            height: 200,
                        },
                        {
                            field: 'protuctimg',
                            width: 120,
                            height: 80,
                            title: '商品示例图',
                            templet: img,
                            id: 'demo',
                        },
                        {
                            field: 'count',
                            width: 150,
                            title: '购买数量',
                            height: 200,
                        },
                        {
                            field: 'payment',
                            width: 110,
                            title: '支付方式',
                            align: "center",
                            height: 80,
                            templet: function (res) {
                                if (res.payment == 1 && res.orderstatus==2) {
                                    return "<button class='layui-btn-radius layui-btn-sm'>微信支付</button>"
                                } else if (res.payment == 2 && res.orderstatus==2) {
                                    return "<button class='layui-btn-sm layui-btn-radius layui-btn-normal'>支付宝</button>"
                                } else if (res.payment == 3&& res.orderstatus==2) {
                                    return "<button class='layui-btn-sm layui-btn-radius layui-btn-warm'>其他</button>"
                                }
                                else {
                                    return "<button class='layui-btn-sm layui-btn-radius layui-btn-warm'>未支付</button>"
                                }
                            }
                        },
                        {
                            field: 'createtime',
                            width: 190,
                            height: 60,
                            title: '创建时间',
                            sort: true,
                            templet: '<div>{{ layui.util.toDateString(d.updatetime, "yyyy-MM-dd HH:mm:ss") }}</div>'
                        },
                        {title: '操作', width: 230, templet: '#currentTableBar', fixed: "right", align: "center"}
                    ]
                ],
                limits: [8, 10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true
            })
        ;
        /*
         多条件查询
        */
        var $ = layui.$, active = {
            reload: function () {
                //获取医院名称和电话
                var orderno = $('#orderno');
                var receivername = $('#receivername');
                var orderstatus = $('#orderstatus');
                console.log(orderstatus)
                table.reload('currentTableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    //传入的条件
                    , where: {
                        orderno: orderno.val(),
                        receivername: receivername.val(),
                        orderstatus: orderstatus.val(),
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        /*
       删除功能
           */
        table.on('tool(currentTableFilter)', function (obj) {
            var layevent = obj.event;
            var data = obj.data;
            //删除对应的设置
            if (layevent === 'delete') {
                layer.confirm('确定删除' + data.orderno + "的相关信息吗", {icon: 7, title: '提示信息'}, function (index) {
                    $.ajax({
                        url: '/order/del',
                        type: 'post',
                        data: {orderno: data.orderno},
                        success: function (res) {
                            layer.close(index);
                            layer.msg("删除成功", {icon: 6});
                            //重新加载这个表格  对应的是这个表格的id
                            //重新加载表格
                            tableIns.reload();
                            table.reload('currentTableId', {})
                        }
                    })
                });
                /*
                修改信息
                */
            } else if (layevent === 'edit') {
                //    使用弹出层来进行修改信息
               layer.msg("已发货", {icon: 7, title: '提示信息'})
            }
        });
        /*
        批量删除
         */
        $("#delWikiByIds").click(function () {
            var checkStatus = table.checkStatus('currentTableId'),
                data = checkStatus.data,
                userId = "";
            if (data.length > 0) {
                for (var i in data) {
                    userId += data[i].id + ",";
                }
                console.log(userId);
                layer.confirm('确定下架选中的商品信息？', {icon: 3, title: '提示信息'}, function (index) {
                    $.post('/product/delProductByIds', {ids: userId}, function (data) {
                        layer.msg("下架成功", {icon: 6})
                        tableIns.reload();
                        layer.close(index);
                    });
                })
            } else {
                layer.msg("请选择需要的订单", {icon: 1});
            }
        });
        /*
        分页条加载
         */
        laypage.render({
            elem: '#pageDemo', //分页容器的id
            // , count: 1000 //数据总数
            limit: 10, //每页显示的数据条数
            skin: '#1E9FFF', //自定义选中色
            //自定义样式
            jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', {offset: 'b'});
                }
            },
        });
    });
</script>
<script type="text/javascript">
    // 表格格式化 - img 渲染
    function img(cellvalue) {
        return '<div class="photo-list2"><img onclick="show_img(this)"  src="' + cellvalue.protuctimg + '" alt="" width="80px" height="80px" id="demo"></div>';
    }
    //渲染图片 使用放大的图片
    window.show_img = function (t) {
        layer.photos({
            photos: '.photo-list2',
            shadeClose: false,
            closeBtn: 2,
            anim: 1,
            isOutAnim: true,
        });
    }
</script>
</body>
</html>